* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    // font-family: "Montserrat";
    scroll-behavior: smooth;
}

html,
body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #eeeeee;
}

@import "./scss/Variables";
@import "./scss/Card";
@import "./scss/HeroCard.scss";
@import "./scss/Nav";
@import "./scss/Footer";
@import "./scss/Hero";
@import "./scss/T-Shirt-section";
@import "./scss/Letest_T-Shirt";
@import "./scss/Shoe-section";
@import "./scss/SingleProduct";
@import "./scss/TShirtsPage";

.container {
    width: 1595px;
    max-width: 95%;
    // background-color: rgba(160, 253, 160, 0.815);
    margin: 0 auto;
}

.section-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: $dark;
    // font-family: "Poppins", sans-serif;
    // font-family: "Open Sans", sans-serif;
    font-family: "Roboto", sans-serif;
}

// .inactive {
//   display: none;
// }

// .active {
//   display: inline-block;
// }

.section-heading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    color: $dark;
}

@media screen and(max-width: 560px) {
    .section-heading {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 17px;
        font-weight: 600;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f100;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgb(199, 199, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #132c335d;
}